/* You can add global styles to this file, and also import other style files */

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  background: #15171f;
  color: #e6e6ef;
  font-family: Inter, sans-serif;
}
